body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  font-size: 20px;
  background: url(https://cdn.discordapp.com/attachments/688084266252369995/705556028497985646/wr-background.png);
}